<div class="row">
  <div class="wrapper light">
    <div class="row centalign">
      <h2>
        <%= @grant.title %> (Preapproved)
      </h2>
      <h5>
        <%= @grant.school_name %>
      </h5>
    </div>

    <% if super_user? %>
      <div class="row">
        <div class="three columns centered centalign">
          <div class="medium primary btn">
            <%= link_to 'Delete', preapproved_grant_path(@grant),
                method: :delete, confirm: 'Are you sure?' %>
          </div>
        </div>
      </div>
    <% end %>

    <% if recipient? %>
      <div class="row">
        <hr>
        <div class="three columns centered centalign">
          <div class="large primary btn">
            <%= link_to 'Use this!', preapproved_convert_path(@grant), method: :post %>
          </div>
        </div>
      </div>
      <hr>
    <% end %>


    <div class="row">
      <% if !@grant.image_url.to_s.eql? ""%>
        <%= image_tag @grant.image_url.to_s %>
      <% else %>
        <div class="imgreplacementlrg"><div class="repson"><%= @grant.title %></div></div>
      <% end %>
    </div>

    <div class="row centalign">
      <div class="eleven columns centered">
        <p class="largefont"><%= @grant.summary %></p>
      </div>
      <br>
    </div>

    <div class="row">
      <div class="three columns centalign">
        <h5 class="inlined"><strong>Grade level: </strong></h5><span class="largefont"><%= @grant.grade_level %></span>
      </div>
      <div class="three columns centalign">
        <h5 class="inlined"><strong># of classes: </strong></h5><span class="largefont"><%= @grant.num_classes %></span>
      </div>
      <div class="three columns centalign">
        <h5 class="inlined"><strong># of students: </strong></h5><span class="largefont"><%= @grant.num_students %></span>
      </div>
      <div class="three columns centalign">
        <h5 class="inlined"><strong>Total budget: </strong></h5><span class="largefont"><%= @grant.total_budget %></span>
      </div>
    </div>


    <div class="row padada">
      <div class="six columns centalign">
        <h5 class="inlined"><strong>Subject areas: </strong></h5>
        <span class="medfont"><%= @grant.subject_areas.values.to_a.join(', ') %></span>
      </div>
      <div class="six columns centalign">
        <h5 class="inlined"><strong>Duration: </strong></h5><span class="medfont"><%= @grant.duration %></span>
      </div>
    </div>


    <div class="row grantviewbar">
      <div class="gcdiv">

      </div>
    </div>

    <hr>

    <div class="row">
      <div class="ten columns centalign centered">
        <h3>Details</h3>
        <h5><strong>Purpose</strong></h5>
        <%= @grant.purpose %>
        <h5><strong>Methods</strong></h5>
        <%= @grant.methods %>
      </div>
    </div>


    <% if !@grant.video.blank? %>
    <div class="row">
      <div class="ten columns centered">
        <div class="video-container">
          <iframe src= "http://www.youtube.com/embed/<%= parse_embed(@grant) %>"></iframe>
        </div>
      </div>
    </div>
    <% end %>


    <div class="row">
      <div class="ten columns centalign centered">
        <br>
        <h3 class="centalign">Budget</h3>
        <h5 class="inlined"><strong>Total budget: </strong></h5><span class="largefont"><%= @grant.total_budget %></span><br>
        <h5 class="inlined"><strong>Goal: </strong></h5><span class="largefont"><%= @grant.requested_funds %></span><br>
        <h5><strong>Description</strong></h5>
        <%= @grant.budget_desc %>
        <h5><strong>Use of Funds</strong></h5>
        <%= @grant.funds_will_pay_for %>
      </div>
    </div>

    <% if !@grant.comments.blank? %>
    <div class="row">
      <div class="ten columns centalign centered">
        <br>
        <h3>Additional Comments</h3>
        <%= @grant.comments %>
      </div>
    </div>
    <% end %>

  </div>
</div>
