      <div class="six columns">
        <div class="wrapper light">
          <h2 class="centalign">Sign up</h2>

          <%= form_for resource, :as => resource_name, :url => registration_path(resource_name) do |f| %>
            <%= devise_error_messages! %>
            <ul>
              <li class="field">
                <%= f.text_field :first_name, class: [:xxwide, :text, :input], placeholder: "First Name" %>
              </li>

              <li class="field">
                <%= f.text_field :last_name, class: [:xxwide, :text, :input], placeholder: "Last Name" %>
              </li>

              <li class="field">
                <%= f.email_field :email, class: [:xxwide, :text, :input], placeholder: "Email" %>
              </li>

              <li class="field">
                <%= f.password_field :password, class: [:xxwide, :text, :input], placeholder: "Password" %>
              </li>

              <li class="field">
                <%= f.password_field :password_confirmation, class: [:xxwide, :text, :input], placeholder: "Re-enter Password" %>
              </li>

              <li>
                <span class="category pull_left">Type:&emsp;</span>
                <li class="field metro inlined">
                  <div class="picker">
                    <%= f.select :type, options_for_select(%w[User Recipient Admin]) %>
                  </div>
                </li>
              </li>

            <%= recaptcha_tags %>

              <div class="medium primary btn pull_right">
                <%= f.submit "Sign up" %>
              </div>
          </ul>
          <% end %>
        </div>
      </div>

