<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @recipient.first_name %> <%= @recipient.last_name %> has just submitted a new grant!</h1>
    <p>
      <%= @recipient.first_name %> <%= @recipient.last_name %> has just submitted a new grant called <%= @grant.title %>.<br/>
    </p>
    <p>
      To view the grant's page, just follow this link: <%= @url %>.
    </p>
  </body>
</html>