<h1>Create Payment</h1>
<%= form_for @grant do |f| %>
    <%= render 'shared/errors', object: f.object %>

    <%= f.label "Amount" %>
    <%= f.text_field :amount %>

    <%= f.submit "Make Payment" %>
<% end %>

