<div class="four columns infocard">
  <div class="cardtitle">
    <h3><%= link_to grant.title, grant %></h3>
  </div>
  <% if grant.image_url %>
    <%= image_tag grant.image_url.to_s %>
  <% else %>
    <%= image_tag "/assets/default/Other.jpg" %>
  <% end %>
  <div class="cardcontent">
    <p class="cardtext">
      <span class="darken">Director:</span> <%= grant.recipient.first_name + ' ' + grant.recipient.last_name %> <br>
      <span class="darken">School:</span> <span class="schooltext"><%= grant.school_name %></span> <br>
      <span class="darken">Description:</span> <span class="destext"><%= grant.summary %></span>
    </p>
    <div class="progress">
      <span style="width: 50%" class="progressbar" data-goal="<%= grant.crowdfunder_goal %>" data-current="<%= grant.crowdfunder.pledged_total %>">50%</span>
    </div>
    <div class="gcdiv">
      <span class="gctext">Current: </span>
      <span class="currentnum">$<%= grant.crowdfunder.pledged_total %></span>
      &emsp;
      <span class="gctext">Goal: </span>
      <span class="goalnum">$<%= grant.crowdfunder_goal %></span>
    </div>
  </div>
</div>
