<div class="four columns infocard">
  <div class="cardtitle">
    <h3><%= link_to grant.title, grant %></h3>
  </div>
  <% if grant.image_url %>
    <%= image_tag grant.image_url %>
  <% else %>
    <%= image_tag "http://placehold.it/300x150/f14f4f" %>
  <% end %>
  <div class="cardcontent">
    <p class="cardtext">
      Director: <%= grant.recipient.first_name + ' ' + grant.recipient.last_name %> <br>
      School: <span class="schooltext"><%# grant.school (can't do yet) %></span> <br>
      Description: <span class="destext"><%= grant.summary %></span>
    </p>
    <div class="progress">
      <!-- Also can't really do - no current payment status for grants -->
      <span style="width: 50%" class="progressbar" data-goal="<%= grant.requested_funds %>" data-current="224">50%</span>
    </div>
    <div class="gcdiv">
      <span class="gctext">Current: </span>
      <!-- This too -->
      <span class="currentnum">$224</span>
      &emsp;

      <span class="gctext">Goal: </span>
      <span class="goalnum">$<%= grant.requested_funds %></span>
    </div>
  </div>
</div>
