
<li style="background-image:url(<%= grant.image_url :banner %>); background-size:cover;" onclick='window.location.href="<%= url_for grant %>"'>
  <div class="infocard slidecard">
    <div class="cardtitle">
      <h3><%= link_to grant.title, grant %></h3>
    </div>
    <div class="cardcontent">
      <p><span class="darken">Director:</span> <%= grant.recipient.name %><br>
      <span class="darken">School:</span> <%= grant.school.name %><br>
      <span class="darken">Description:</span> <%= grant.summary %></p>
      <div class="progress">
        <span class="progressbar" data-goal="<%= grant.crowdfunder_goal %>" data-current="<%= grant.crowdfunder.pledged_total %>">50%</span>
      </div>
      <div class="gcdiv">
        <span class="gctext">Current: </span>
        <span class="currentnum">$<%= grant.crowdfunder.pledged_total %></span>
        &emsp;
        <span class="gctext">Goal: </span>
        <span class="goalnum">$<%= grant.crowdfunder.goal %></span>
      </div>
    </div>
  </div>
  </li>
