
<li style="background-image:url(/assets/default/Other.jpg); background-size:cover;">
  <div class="infocard slidecard">
    <div class="cardtitle">
      <h3><%= grant.title %></h3>
    </div>
    <div class="cardcontent">
      <p><span class="darken">Director:</span> <%= grant.recipient.name %><br>
      <span class="darken">School:</span> <%= grant.school.name %><br>
      <span class="darken">Description:</span> <%= grant.summary %></p>
      <div class="progress">
        <span style="width: <%= grant.crowdfunder.progress %>"><%= grant.crowdfunder.progress %></span>
      </div>
      <div class="gcdiv">
        <span class="gctext">Current: </span>
        <span class="currentnum">$<%= grant.crowdfunder.pledged_total %></span>  
        &emsp;      
        <span class="gctext">Goal: </span>
        <span class="goalnum">$<%= grant.crowdfunder.goal %></span>
      </div>
    </div>
  </div>
</li>
