
<div class="helppanel close"><span class="xbox pull_right"><i class="icon-cancel"></i></span><h2>Welcome to the help panel!!!</h2></div>
<div class="helppanelbutton close"><span>Help</span></div>
<%= render 'slideshow' %>
<%= render 'menu' %>


<!--***************************************TILES********************************************-->
<div class="row">
    <div class="wrapper light">
        <div class="row">
            <div class="twelve columns centered centalign">
            <%= will_paginate @grants %>
            </div>
        </div>
        <% if @grants[0] %>
        <div class="row">
            <%= render partial: 'crowdfunding_grants', collection: @grants[0..2], as: :grant %>
        </div>
        <div class="row">
            <%= render partial: 'crowdfunding_grants', collection: @grants[3..5], as: :grant %>
        </div>
        <%else%>
        <div class="row">
            <h2 class="centalign">Sorry, there are no such grants currently available</h2>
        </div>
        <%end%>
        <div class="row">
            <div class="twelve columns centered centalign">
              <%= will_paginate @grants %>
            </div>
        </div>
    </div>
</div>


<script>
    $('.banner').unslider({
        speed: 500,               //  The speed to animate each slide (in milliseconds)
        delay: 30000,              //  The delay between slide animations (in milliseconds)
        fluid: true              //  Support responsive design. May break non-responsive designs
    });


    var unslider = $('.banner').unslider();

    $('.unslider-arrow').click(function() {
        var fn = this.className.split(' ')[1];

        //  Either do unslider.data('unslider').next() or .prev() depending on the className
        unslider.data('unslider')[fn]();
    });

    var easter_egg = new Konami('http://www.vivekraghuram.com/bpsf.html');
</script>