<<<<<<< HEAD
<!--***************************************NAVBAR******************************************-->
	<div class="navbar" id="nav1">
		<div class="row">
		<span class="two columns logo">
			<a href="#"><i class="icon-left-open-big"></i>Return to Site</a>
		</span>
			<a class="toggle" gumby-trigger="#nav1 > .row > ul" href="#"><i class="icon-menu"></i></a>
			<ul class="ten columns">
				<li><a href="#">Explore</a></li>|
				<li><a href="#">About</a></li>|
				<li><a href="#">  
					<% if can? :create, Grant %>
				      <%= link_to "Apply", new_draft_path %>
				  <% end %>
				</a></li>
				<li class="field"><input class="search input" type="search" placeholder="Search" /></li>
				<li><button class="medium primary btn pointer">
						<a href="#">Sign Up</a>
					</button>
				</li>
				<li>
					<button class="medium primary btn pointer">
						<% if user_signed_in? %>
						  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
						<% else %>
						  <%= link_to "Sign In", new_user_session_path %>
						<% end %>
					</button>
				</li>
			</ul>
		</div>
	</div>


<!--***************************************SLIDESHOW******************************************-->
     
	<div class="fluid_container">
	    <div class="camera_wrap" id="camera_wrap">
	        <div data-src="images/1.jpg">
	        	<div class="infocard fadeIn camera_effected slidecard">
					<div class="cardtitle">
						<h3>Teach Flying</h3>
					</div>
					<div class="cardcontent">
						<p>Director: Carlos Danger<br>
						School: US Congress<br>
						Description: Students will learn to fly with the famous congressman</p>
						<div class="progress">
							<span style="width: 27%">27%</span>
						</div>
						<div class="gcdiv">
							<span class="gctext">Goal: </span>
							<span class="goalnum">$5243</span>
							&emsp;
							<span class="gctext">Current: </span> 
							<span class="currentnum">$3243</span>
						</div>
					</div>
				</div>
	        </div>

	        <div data-src="images/2.jpg">
	        	<div class="infocard fadeIn camera_effected slidecard">
					<div class="cardtitle">
						<h3>Go Hiking</h3>
					</div>
					<div class="cardcontent">
						<p>Director: Carlos Danger<br>
						School: US Congress<br>
						Description: Students will learn to fly with the famous congressman</p>
						<div class="progress">
							<span style="width: 73%">73%</span>
						</div>
						<div class="gcdiv">
							<span class="gctext">Goal: </span>
							<span class="goalnum">$5243</span>
							&emsp;
							<span class="gctext">Current: </span> 
							<span class="currentnum">$3243</span>
						</div>
					</div>
				</div>
	        </div>

	        <div data-src="images/3.jpg">
	        	<div class="infocard fadeIn camera_effected slidecard">
					<div class="cardtitle">
						<h3>Combat STDs</h3>
					</div>
					<div class="cardcontent">
						<p>Director: Carlos Danger<br>
						School: US Congress<br>
						Description: Students will learn to fly with the famous congressman</p>
						<div class="progress">
							<span style="width: 46%">46%</span>
						</div>
						<div class="gcdiv">
							<span class="gctext">Goal: </span>
							<span class="goalnum">$5243</span>
							&emsp;
							<span class="gctext">Current: </span> 
							<span class="currentnum">$3243</span>
						</div>
					</div>
				</div>
	        </div>
	    </div><!-- #camera_wrap_3 -->
	</div>

<div class="row">&nbsp;</div>

<!--*****************************************MENU**********************************************-->



	<div class="row">
		<div class="one columns">
			<span class="category">Category:</span>
		</div>
		<div class="eight columns">
			<li class="field metro">
			  <div class="picker">
			    <select>
			      <option value="#" >All</option>
			      <option>Art & Music</option>
			      <option>Supplies</option>
			      <option>Reading</option>
			      <option>Science & Math</option>
			      <option>Field Trips</option>
			      <option>Other</option>
			    </select>
			  </div>
			</li>
		</div>
		<div class="three columns dayleft">
			Days Left: 17
		</div>
	</div>

        
<!--***************************************TILES********************************************-->

<div class="wrapper light">

	<div class="row">
		<div class="four columns infocard">
			<div class="cardtitle">
				<h3>Teach Flying</h3>
			</div>
			<img src="assets/images/1.jpg">
			<div class="cardcontent">
				<p>Director: Carlos Danger<br>
				School: US Congress<br>
				Description: Students will learn to fly with the famous congressman</p>
				<div class="progress">
					<span style="width: 27%">27%</span>
				</div>
				<div class="gcdiv">
					<span class="gctext">Goal: </span>
					<span class="goalnum">$5243</span>
					&emsp;
					<span class="gctext">Current: </span> 
					<span class="currentnum">$3243</span>
				</div>
			</div>
		</div>
		<div class="four columns infocard">
			<div class="cardtitle">
				<h3>Go Hiking</h3>
			</div>
			<img src="images/2.jpg">
			<div class="cardcontent">
				<p>Director: Carlos Danger<br>
				School: US Congress<br>
				Description: Students will learn to fly with the famous congressman</p>
				<div class="progress">
					<span style="width: 73%">73%</span>
				</div>
				<div class="gcdiv">
					<span class="gctext">Goal: </span>
					<span class="goalnum">$5243</span>
					&emsp;
					<span class="gctext">Current: </span> 
					<span class="currentnum">$3243</span>
				</div>
			</div>
		</div>
		<div class="four columns infocard">
			<div class="cardtitle">
				<h3>Combat STDs</h3>
			</div>
			<img src="images/3.jpg">
			<div class="cardcontent">
				<p>Director: Carlos Danger<br>
				School: US Congress<br>
				Description: Students will learn to fly with the famous congressman</p>
				<div class="progress">
					<span style="width: 46%">46%</span>
				</div>
				<div class="gcdiv">
					<span class="gctext">Goal: </span>
					<span class="goalnum">$5243</span>
					&emsp;
					<span class="gctext">Current: </span> 
					<span class="currentnum">$3243</span>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="four columns infocard">
			<div class="cardtitle">
				<h3>Teach Flying</h3>
			</div>
			<img src="images/4.jpg">
			<div class="cardcontent">
				<p>Director: Carlos Danger<br>
				School: US Congress<br>
				Description: Students will learn to fly with the famous congressman</p>
				<div class="gcdiv">
					<span class="gctext">Goal: </span>
					<span class="goalnum">$5243</span>
					&emsp;
					<span class="gctext">Current: </span> 
					<span class="currentnum">$3243</span>
				</div>
			</div>
		</div>
		<div class="four columns infocard">
			<div class="cardtitle">
				<h3>Go Hiking</h3>
			</div>
			<img src="images/5.jpg">
			<div class="cardcontent">
				<p>Director: Carlos Danger<br>
				School: US Congress<br>
				Description: Students will learn to fly with the famous congressman</p>
				<div class="gcdiv">
					<span class="gctext">Goal: </span>
					<span class="goalnum">$5243</span>
					&emsp;
					<span class="gctext">Current: </span> 
					<span class="currentnum">$3243</span>
				</div>
			</div>
		</div>
		<div class="four columns infocard">
			<div class="cardtitle">
				<h3>Combat STDs</h3>
			</div>
			<img src="images/1.jpg">
			<div class="cardcontent">
				<p>Director: Carlos Danger<br>
				School: US Congress<br>
				Description: Students will learn to fly with the famous congressman</p>
				<div class="gcdiv">
					<span class="gctext">Goal: </span>
					<span class="goalnum">$5243</span>
					&emsp;
					<span class="gctext">Current: </span> 
					<span class="currentnum">$3243</span>
				</div>
			</div>
		</div>
	</div>
</div>

<!--***************************************FOOTER********************************************-->

<div class="row">
    <div class="eight columns">
    	<p style="font-size:12px; font-size:0.75rem;">
        	<strong>Contact Us</strong><br>
			<a href="mailto:">bpsf@bpsf.org</a><br><br>

        	
        </p>
    </div>
    <div>
    	<p style="font-size:12px; font-size:0.75rem;">
        	<strong>Navigate</strong><br>
			Here we would have a sitemap<br><br><br>
        	&copy; BluePrint 2013. All rights reserved.
        </p>
    </div>
</div>






<h2>Grant Listing</h2>
<ul>
  <%= render partial: 'crowdfunding_grants', collection: @grants, as: :grant %>
</ul>



<div class="row">
  <h2>Grant Listing</h2>
  <ul>
    <%= render @grants %>
    <%= will_paginate @grants %>
  </ul>
</div>


