<div class="row">
  <div class="twelve columns">

      <div class="row">
        <div class="six columns">
          <div class="wrapper light">
            <h2 class="centalign">Sign in</h2>

            <%= form_for resource, as: resource_name, url: session_path(resource_name) do |f| %>
            <ul>
              <li class="field">
                <%= f.email_field :email, :autofocus => true, class: [:xxwide, :text, :input], placeholder: "Email" %>
              </li>

              <li class="field">
                <%= f.password_field :password, class: [:input, :text, :xxwide], placeholder: "Password" %>
              </li>

              <% if devise_mapping.rememberable? -%>
              <li class="field passless marginless pull_right">
                <label class="checkbox" for="user_remember_me">
                  <%= f.check_box :remember_me%>
                  <span></span>&nbsp;Remember me
                </label>
              </li>
              <% end -%>
              <li><%= render "devise/shared/links" %></li>
              <br>
              <div class="medium primary btn pull_right">
                <%= f.submit 'Sign in' %>
              </div>
              <br>
            </ul>
            <% end %>
          </div>
        </div>
            <br class="poofin" style="display:none;">
            <%= render "devise/registrations/new.html" %>
      </div>

  </div>
</div>
<br>