<div class="row centalign">
  <h2>Update Your Profile</h2>
</div>
<div class="row">
  <div class="twelve columns">
    <%= form_for user, as: :user, url: user_path(user) do |f| %>
      <div class="field">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: :input %>
      </div>
      <div class="field">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: :input %>
      </div>
      <div class="field">
        <%= f.label :email %>
        <%= f.text_field :email, class: :input %>
      </div>
      <%= f.fields_for :profile do |ff| %>
        <div class="field">
          <%= ff.label :position, "Position" %>
          <%= ff.text_field :position, class: [:textarea, :input], rows: 3 %>
        </div>              
        <div class="field">
          <%= ff.label :about, "About" %>
          <%= ff.text_area :about, class: [:textarea, :input], rows: 3 %>
        </div>
      <% end %>
      <div class="medium primary btn pull_right">
        <%= f.submit "Save!" %>
      </div>
    <% end %>
  </div>
</div>
