<div class="row">
  <div class="twelve columns">
    <div class="wrapper light">
      <div class="row">
        <h2>Update Your Profile</h2>
      </div>
      <div class="row">
        <div class="twelve columns">
          <%= form_for @user, as: :user, url: user_path(@user) do |f| %>
            <div class="field">
              <%= f.label :first_name %>
              <%= f.text_field :first_name, class: :input %>
            </div>
            <div class="field">
              <%= f.label :last_name %>
              <%= f.text_field :last_name, class: :input %>
            </div>
            <%= f.fields_for :profile do |ff| %>
              <div class="field">
                <%= ff.label :about, "About" %>
                <%= ff.text_field :about, class: [:textarea, :input], rows: 3 %>
              </div>
              <div class="field">
                <%= ff.label :started_teaching, "IDKMYBFFJILL" %>
                <%= ff.date_select :started_teaching, order: [:year] %>
              </div>
              <div class="field">
                <%= ff.label :subject, "Subject You Teach" %>
                <%= ff.text_field :subject, class: :input %>
              </div>
              <div class="field">
                <%= ff.label :grade, "Grade You Teach" %>
                <%= ff.text_field :grade, class: :input %>
              </div>
            <% end %>
            <div class="medium primary btn pull_right">
              <%= f.submit "Save!" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
