<div class="row">
  <div class="twelve columns">
    <div class="wrapper light">
      <div class="row">
        <h2>Update Your Profile</h2>
      </div>
      <div class="row">
        <div class="twelve columns">
          <%= form_for @profile, url: recipient_profile_path(id: @profile.id) do |f| %>
            <div class="field">
              <%= f.label :about, "About" %>
              <%= f.text_field :about, class: [:textarea, :input], rows: 3 %>
            </div>
            <div class="medium primary btn pull_right">
              <%= f.submit "Save!" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%# <div class="row ultitle"> %>
<%#   <h3> %>
<%#     Update Your Profile %>
<%#   </h3> %>
<%# </div> %>

<%# <div class="row"> %>
<%#   <div class="row"> %>
<%#     <h4>School</h4> %>
<%#     <%= @profile.school_id %1> %>
<%#   </div> %>

<%#   <div class="row"> %>
<%#     <h4>Image</h4> %>
<%#     <% if @profile.image_url %1> %>
<%#       <%= image_tag @profile.image_url.to_s %1> %>
<%#     <% end %1> %>
<%#   </div> %>
<%# </div> %>

