<div class="row centalign">
  <h2>Update Your Profile</h2>
</div>
<div class="row">
  <div class="twelve columns">
    <%= form_for user, as: :user, url: user_path(user) do |f| %>
      <%= render 'shared/errors', object: f.object %>
      <div class="field">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: :input %>
      </div>
      <div class="field">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: :input %>
      </div>
      <%= f.fields_for :profile do |ff| %>
        <div class="field">
          <%= ff.label :school, "School" %>
          <div class="picker">
            <%= ff.collection_select :school_id, School.all, :id, :name %>
          </div>
        </div>
        <div class="field">
          <%= ff.label :started_teaching, "Started Teaching:" %>
          <div class="picker">
            <%= ff.date_select :started_teaching, start_year: Time.now.year - 40, order: [:year] %>
          </div>
        </div>
        <div class="field">
          <%= ff.label :subject, "Subject You Teach" %>
          <%= ff.text_field :subject, class: :input %>
        </div>
        <div class="field">
          <%= ff.label :grade, "Grade You Teach" %>
          <%= ff.text_field :grade, class: :input %>
        </div>
        <div class="field">
          <%= ff.label :about, "About" %>
          <%= ff.text_area :about, class: [:textarea, :input], rows: 3 %>
        </div>
        <div class="field">
          <%= ff.label :address, "Address" %>
          <%= ff.text_field :address, class: :input %>
        </div>
        <div class="field">
          <%= ff.label :city, "City" %>
          <%= ff.text_field :city, class: :input %>
        </div>
        <div class="field">
          <%= ff.label :zipcode, "Zip Code" %>
          <%= ff.text_field :zipcode, class: :input %>
        </div>
        <div class="field">
          <%= ff.label :work_phone, "Work Phone" %>
          <%= ff.text_field :work_phone, class: :input %>
        </div>
        <div class="field">
          <%= ff.label :home_phone, "Home Phone" %>
          <%= ff.text_field :home_phone, class: :input %>
        </div>
      <% end %>
      <%= render 'credit_card_edit' %>
      <div class="medium primary btn pull_right">
        <%= f.submit "Save!", id: 'update-profile' %>
      </div>
    <% end %>
  </div>
</div>
