  <% if @profile.school_id %>
    <h5 class="inlined">School:</h5><%= render partial: "school", locals: { school: @profile.school_id } %><br>
  <% end %>


  <% if @profile.started_teaching %>
    <h5 class="inlined">Years of Experience:</h5>
    <%= @profile.years_teaching %><br>
  <% end %>


  <% if @profile.grade %>
    <h5  class="inlined">Grade Level(s):</h5>
    <%= @profile.grade %><br>
  <% end %>


  <h5  class="inlined">Subject(s):</h5>
  <%= @profile.subject %><br>

  <h5>About</h5>
  <% if @profile.about %>
    <%= @profile.about %>
  <% end %>



