<div class="row">
  <% if profile.address %>
    <h5>Address:</h5>
    <div class="row"><%= profile.address %></div>
    <div class="row"><%= profile.city %> <%= profile.zipcode %></div>
  <% end %>
</div>

<div class="row">
  <% if profile.phone %>
    <h5>Phone:</h5>
    <%= profile.phone %>
  <% end %>
</div>

<br>

<div class="primary btn">
  <%= link_to "Update Credit Card Info", update_credit_card_info_path %>
</div>
