
<div class="row">
  <div class="wrapper light">
    <div class="row centalign">
      <h2>Your Credit Card Information</h2>
    </div>
    <div class="row">
      <div class="twelve columns">
        <%= form_for @user, as: :user, url: user_path(@user) do |f| %>
          <%= hidden_field_tag :stripe_token %>
          <div class="field">
            <%= f.label_tag :card_number, "Credit Card Number" %>
            <%= f.text_field_tag :card_number, nil, name: nil, placeholder: @card_number, class: :input %>
          </div>
          <div class="field">
            <%= f.label_tag :card_code, "Card Security Code" %>
            <%= f.text_field_tag :card_code, nil, name: nil, class: :input %>
          </div>
          <div class="field">
            <%= label_tag :card_month, "Card Expiration" %>
            <div class="picker">
              <%= select_month @month, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
            </div>
            <div class="picker">
              <%= select_year @year, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"} %>
            </div>
          </div>
          <div id="stripe-error">
            <noscript>Javascript is required. Please enable it in your browser settings.</noscript>
          </div>
          <div class="medium primary btn pull_right">
            <%= f.submit "Save!", id: 'update-cc' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
