<div class="row">
  <div class="wrapper light">
    <div class="row">
      <h2>
        <%= @user.first_name %> <%= @user.last_name %>
        <% if @user.eql? current_user %>
          <span class="ttip" data-tooltip="Edit">
            <%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_user_path(id: @user.id) %>
          </span>
        <% end %>
      </h2>
    </div>

    <div class="row">
      <h4>Email</h4>
      <%= @user.email %>
    </div>

    <%= render profile_for(@user), user: @user, profile: @profile %>

  </div>
</div>
<%= debug @payments %>
