<div class="row">
  <div class="wrapper light">
    <div class="row centalign">
      <% if @user.eql? current_user %>
        <span class="ttip pull_right inlined largefont" data-tooltip="Edit">
          <%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_user_path(id: @user.id) %>
        </span>
      <% end %>
      <h2 style="inlined ">
        <%= @user.first_name %> <%= @user.last_name %>
      </h2>
    </div>

    <div class="row">
      <div class="eight columns">
        <h5 class="inlined">Email:</h5>
        <%= @user.email %><br>
      

        <% if @user.type == "Recipient" %>
          <%= render partial: "recipient_profile", locals: { recipient: @user, profile: @profile } %>
        <% elsif @user.type == 'SuperUser' or @user.type == 'Admin' %>
          <%= render partial: "admin_profile", locals: { admin: @user, profile: @profile } %>
        <% elsif @user.type == 'User' %>
          <%= render partial: "user_profile", locals: { user: @user } %>
        <% end %>
      </div>
      <div class="four columns">
          <% if @profile.image_url %>
            <%= image_tag @profile.image_url.to_s %>
          <% end %>
      </div>

    </div>
  </div>
</div>
<%= debug @payments %>
