<div class="row">
  <div class="wrapper light">
    <div class="row">
        <h2><%= @user.first_name %> <%= @user.last_name %> </h2>
    </div>

    <div class="row">
      <h4>Email</h4>
      <%= @user.email %>
    </div>

    <% if @user.type == "Recipient" %>
      <%= render partial: "recipient_profile", locals: { recipient: @user, profile: @profile } %>
    <% elsif @user.type == 'SuperUser' or @user.type == 'Admin' %>
      <%= render partial: "admin_profile", locals: { admin: @user } %>
    <% elsif @user.type == 'User' %>
      <%= render partial: "user_profile", locals: { user: @user } %>
    <% end %>
  </div>
</div>
<%= debug @payments %>
