<div class="row">
  <div class="wrapper light">
    <div class="row centalign">
      <% if @user.eql? current_user %>
        <span class="ttip pull_right inlined largefont" data-tooltip="Edit">
          <%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_user_path(id: @user.id) %>
        </span>
      <% end %>
      <h2 style="inlined ">
        <%= @user.first_name %> <%= @user.last_name %>
      </h2>
    </div>

    <section class='tabs'>
      <div class="row">
        <div class="twelve columns centered centalign">
          <ul class="tab-nav">
            <li class="active"><a href="#">My Account</a></li>
            <li><a href="#">Payment History</a></li>
          </ul>
        </div>
      </div>
      <div class="tab-content active">
        <div class="row">
          <div class="eight columns">
            <h5 class="inlined">Email:</h5>
            <%= @user.email %><br>
            <%= render profile_for(@user), user: @user, profile: @profile %>
          </div>
          <!-- Currently breaking -->
          <!-- <div class="four columns"> -->
            <%# if @profile.image_url %>
            <%#= image_tag @profile.image_url.to_s %>
            <%# end %>
            <!-- </div> -->
        </div>
      </div>
      <div class="tab-content">
        <% if @user.default_card %>
          You are currently using a credit card ending in <%= @user.last4 %>.
        <% end %>
        <%= render partial: 'shared/table', locals: { heads: %w[Name School Amount], partials: [['payments', @payments, :payment, "There are no payments"]] } %>
        <div class="four columns centered centalign">
        <%= will_paginate @payments %>
        </div>
      </div>
    </section>

    </div>
  </div>
</div>
