<div class="row">
  <h3>Title: <%= @draft_grant.title %></h3>
</div>

<div class="row">
  <h3>Summary</h3>
  <%= @draft_grant.summary %>
</div>

<div class="row">
  <h3>Video</h3>
  <% if !@draft_grant.video.blank? %>
    <iframe width="560" height="315" src= "http://www.youtube.com/embed/<%= parse_embed(@draft_grant) %>"></iframe>
  <% end %>
</div>

<div class="row">
  <h3>Subject areas</h3>
  <%= @draft_grant.subject_areas %>
</div>

<div class="row">
  <h3>Grade level: <%= @draft_grant.grade_level %></h3>
</div>

<div class="row">
  <h3>Duration</h3>
  <%= @draft_grant.duration %>
</div>

<div class="row">
  <h3>Number of classes: <%= @draft_grant.num_classes %></h3>
</div>

<div class="row">
  <h3>Number of students: <%= @draft_grant.num_students %></h3>
</div>

<div class="row">
  <h3>Total budget: <%= @draft_grant.total_budget %></h3>
</div>

<div class="row">
  <h3>Requested funds: <%= @draft_grant.requested_funds %></h3>
</div>

<div class="row">
  <h3>Funds will pay for:</h3>
  <%= @draft_grant.funds_will_pay_for %>
</div>

<div class="row">
  <h3>Budget description</h3>
  <%= @draft_grant.budget_desc %>
</div>

<div class="row">
  <h3>Purpose</h3>
  <%= @draft_grant.purpose %>
</div>

<div class="row">
  <h3>Methods</h3>
  <%= @draft_grant.methods %>
</div>

<div class="row">
  <h3>Teacher background</h3>
  <%= @draft_grant.background %>
</div>

<div class="row">
  <h3>Num. collaborators: <%= @draft_grant.n_collaborators %></h3>
</div>

<div class="row">
  <h3>Collaborators</h3>
  <%= @draft_grant.collaborators %>
</div>

<div class="row">
  <h3>Comments</h3>
  <%= @draft_grant.comments %>
</div>