<div class="row">
  <div class="twelve columns">
    <div class="wrapper light">
      <div class="row">
            <%= form_for @draft_grant, url: draft_path, :html => {:multipart => true} do |f| %>
      <%= render 'shared/errors', object: f.object %>
        <h2 class="centalign">
          Editing <%= @draft_grant.title %>
        </h2>

      </div>

<section class="tabs" id="tabs">
      <div class="ten columns centered centalign">
        <ul class="tab-nav">
          <li class="active" id="general" onClick="setCookie('drafttab',this.id,1)"><a href="#">General</a></li>
          <li id="logistics" onClick="setCookie('drafttab',this.id,1)"><a href="#">Logistics</a></li>
          <li id="details" onClick="setCookie('drafttab',this.id,1)"><a href="#">Details</a></li>
          <li id="budget" onClick="setCookie('drafttab',this.id,1)"><a href="#">Budget</a></li>
          <li id="finalize" onClick="setCookie('drafttab',this.id,1)"><a href="#">Finalize</a></li>
        </ul>
      </div>
<br>
<!--GENERAL INFO-->
  <div class="tab-content active">

    <div class="row">
      <div class="twelve columns centalign">
          <span class="hinttext">Hint: Click on the field titles for more information</span>
          <ul>
            <li class="field">
              <h4><a href="#"  class="toggle" gumby-trigger="#drawertitle">*Title</a></h4>
              <div class="drawer" id="drawertitle" style="text-align:center;">
                <p>Name your grant. A good title summarizes the essence of the application. </p>
              </div>
              <%= f.text_field :title, class: [:text, :wide, :input], :placeholder => "Title your grant" %>
            </li>

          <li class="field">
            <h4><a href="#"  class="toggle" gumby-trigger="#drawersubject">*Subject Areas</a></h4>
            <div class="drawer" id="drawersubject" style="text-align:center;">
              <p>Select all subjects that would apply to your application (Hold control to select multiple subjects).</p>
            </div>
            <%= f.select(:subject_areas, DraftGrant::SUBJECTS, {}, {:multiple => true}) %>
          </li>


          <li class="field">
            <h4><a href="#"  class="toggle" gumby-trigger="#drawersummary">*Summary</a></h4>
            <div class="drawer" id="drawersummary" style="text-align:center;">
              <p>Give a brief explanation explanation of your application (200 character limit)</p>
            </div>
            <%= f.text_area :summary, class: [:textarea, :input, :wide], rows: 3, :placeholder => "Summarize your application" %>
          </li>

          <div class="row">
            <h4><a href="#"  class="toggle" gumby-trigger="#drawerimage">Cover Image</a></h4>
            <div class="drawer" id="drawerimage" style="text-align:center;">
              <p>Optional: Choose a photo that will appear at the top of your application. A default photo will be used if you choose not to upload one.</p>
            </div>
            <div class="five columns push_one centalign">
              <div class="imgholder" style="width:300px;">
              <% if !@draft_grant.image_url.to_s.eql? "" %>
                <%= image_tag @draft_grant.image_url.to_s %>
              <% else %>
                <%= image_tag 'http://placehold.it/880x450' %>
              <% end %>
              </div>
            </div>

            <div class="five columns">
              <li class="field">
                <br>
                <%= f.file_field :image_url %>
              </li>
            </div>
          </div>

          <% if !@draft_grant.video.blank? %>
            <div class="row">
              <h4><a href="#"  class="toggle" gumby-trigger="#drawervideo">Grant Video</a></h4>
              <div class="drawer" id="drawervideo" style="text-align:center;">
                <p>Optional: Link a Youtube video to help explain or enhance your application.</p>
              </div>
              <div class="five columns push_one centalign">
                <article class="youtube video">
                  <iframe src= "http://www.youtube.com/embed/<%= parse_embed(@draft_grant) %>"></iframe>
                </article>
              </div>

              <div class="five columns centalign">
                <li class="field">
                  <%= f.label :video, 'Youtube Video link' %>
                  <%= f.text_field :video, class: [:input, :xxwide, :text], :placeholder => "Youtube Video Link" %>
                </li>
              </div>
            </div>
          <% else %>
            <li class="field">
              <h4>Grant Video</h4>
              <%= f.text_field :video, class: [:input, :wide, :text], :placeholder => "Youtube Video Link" %>
            </li>
          <% end %>
        </ul>
        <div class="ttip large primary btn" data-tooltip="Save Your Progress">
          <%= f.submit 'Save!' %>
        </div>
      </div>
    </div>

  </div>

  <!--LOGISTICS-->
  <div class="tab-content">
    <div class="row">
      <div class="twelve columns">
        <br>

          <div class="row">
            <div class="eight columns centered centalign">

              <h4 class="centalign"><a href="#"  class="toggle" gumby-trigger="#drawerpurpose">*Purpose</a></h4>
              <div class="drawer" id="drawerpurpose" style="text-align:center;">
                <p>What is the purpose of this grant request and proposal? (1200 characters limit)</p>
              </div>
              <div class="field">
                <%= f.text_area :purpose, class: [:textarea, :input], rows: 5 %>
              </div>

              <h4 class="centalign"><a href="#"  class="toggle" gumby-trigger="#drawermethods">*Methods</a></h4>
              <div class="drawer" id="drawermethods" style="text-align:center;">
                <p>What methods will you employ in the implementation of this plan? Basically, what is your implementation strategy? (1200 character limit)</p>
              </div>
              <div class="field">
                <%= f.text_area :methods, class: [:textarea, :input], rows: 5 %>
              </div>

              <h4 class="centalign"><a href="#"  class="toggle" gumby-trigger="#drawerbackground">*Teacher Background</a></h4>
              <div class="drawer" id="drawerbackground" style="text-align:center;">
                <p>What is your own background? Please explain any relevant details to yourself and the project. (1200 character limit)</p>
              </div>
              <div class="field">
                <%= f.text_area :background, class: [:textarea, :input], rows: 5 %>
              </div>

              <div class="ttip large primary btn" data-tooltip="Save Your Progress">
                <%= f.submit 'Save!' %>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
<!--DETAILS-->
  <div class="tab-content">
    <div class="row">
      <div class="twelve columns">
        <br>

          <div class="row">
            <div class="eight columns centered">

              <div class="row">
                <div class="nine columns">
                  <h4><a href="#"  class="toggle" gumby-trigger="#drawergradelevel">*Grade Level</a></h4>
                  <div class="drawer" id="drawergradelevel" style="text-align:center;">
                    <p>List the grade levels that will be affected. Please separate different grades by commas.</p>
                  </div>
                </div>
                <div class="three columns">
                  <ul>
                    <li class="field">
                      <%= f.text_field :grade_level, class: [:input, :xxwide, :text], :placeholder => "Ex. 7, 8, 10" %>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="row">
                <div class="nine columns">
                  <h4><a href="#"  class="toggle" gumby-trigger="#drawerduration">*Duration</a></h4>
                  <div class="drawer" id="drawerduration" style="text-align:center;">
                    <p>How long will the proposed activity last? Please entire a number followed by a time period. If this is not applicable then please put 'n/a'.</p>
                  </div>
                </div>
                <div class="three columns">
                  <ul>
                    <li class="field">
                      <%= f.text_field :duration, class: [:input, :xxwide, :text], :placeholder => "Ex. 2 weeks" %>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="row">
                <div class="ten columns">
                  <h4><a href="#"  class="toggle" gumby-trigger="#drawernumclasses">*Num. of Classes Affected</a></h4>
                  <div class="drawer" id="drawernumclasses" style="text-align:center;">
                    <p>How many different classes will be affected by the application?</p>
                  </div>
                </div>
                <div class="two columns">
                  <ul>
                    <li class="field">
                      <%= f.number_field :num_classes, class: [:input, :xxwide, :text] %>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="row">
                <div class="ten columns">
                  <h4><a href="#"  class="toggle" gumby-trigger="#drawernumstudents">*Num. of Students Affected</a></h4>
                  <div class="drawer" id="drawernumstudents" style="text-align:center;">
                    <p>How many students will be affected by the application?</p>
                  </div>
                </div>
                <div class="two columns">
                  <ul>
                    <li class="field">
                      <%= f.number_field :num_students, class: [:input, :xxwide, :text] %>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="row">
                <div class="ten columns">
                  <h4><a href="#"  class="toggle" gumby-trigger="#drawernumcollaborators">*Num. of Collaborators</a></h4>
                  <div class="drawer" id="drawernumcollaborators" style="text-align:center;">
                    <p>How many people will you collaborate on this application?</p>
                  </div>
                </div>
                <div class="two columns">
                  <ul>
                    <li class="field">
                      <%= f.number_field :n_collaborators, class: [:input, :xxwide, :text] %>
                    </li>
                  </ul>
                </div>
              </div>

              <h4 class="centalign"><a href="#"  class="toggle" gumby-trigger="#drawercollaborators">*Collaborators & Role</a></h4>
              <div class="drawer" id="drawercollaborators" style="text-align:center;">
                <p>Please list all the people with whom you will collaborate, if any, and what role they will play. (1200 character limit) </p>
              </div>
              <ul>
                <li class="field">
                  <%= f.text_area :collaborators, class: [:textarea, :input, :xxwide], rows: 3, :placeholder => "Ex. Elvis Presley - Entertainment Advising, Neil Armstrong - Transportation, John F. Kennedy - Coordination and Advising" %>
                </li>
              </ul>
            </div>
          </div>
          <div class="row centalign">
              <div class="ttip large primary btn" data-tooltip="Save Your Progress">
                <%= f.submit 'Save!' %>
              </div>
          </div>
        </ul>
      </div>
    </div>
  </div>

  <!--BUDGET-->
  <div class="tab-content">
    <div class="row">
      <div class="twelve columns">
        <br>

          <div class="row">
            <div class="eight columns centered">

              <div class="row">
                <div class="nine columns">
                  <h4><a href="#"  class="toggle" gumby-trigger="#drawertotalbudget">*Funding Goal</a></h4>
                  <div class="drawer" id="drawertotalbudget" style="text-align:center;">
                    <p>How much total funds will be used for your proposed activity? This includes other sources in addition to the Schools Fund.</p>
                  </div>
                </div>
                <div class="three columns">
                  <ul>
                    <li class="field prepend noroundborder">
                      <span class="adjoined noroundborder">$</span>
                      <%= f.number_field :total_budget, class: [:input, :xwide, :text, :noroundborder] %>
                    </li>
                  </ul>
                </div>
              </div>

              <h4 class="centalign"><a href="#"  class="toggle" gumby-trigger="#drawerbudgetdescription">*Budget Description</a></h4>
              <div class="drawer" id="drawerbudgetdescription" style="text-align:center;">
                <p>Explain in specific detail how the budget will be allotted and used.</p>
              </div>
              <div class="field">
                <%= f.text_area :budget_desc, class: [:textarea, :input], rows: 5, :placeholder => "The budget will be used to..." %>
              </div>

              <div class="row">
                <div class="nine columns">
                  <h4><a href="#"  class="toggle" gumby-trigger="#drawerfundsrequested">*Total Funds Requested</a></h4>
                  <div class="drawer" id="drawerfundsrequested" style="text-align:center;">
                    <p>How much total funds are you requesting from the Schools Fund?</p>
                  </div>
                </div>
                <div class="three columns">
                  <ul>
                    <li class="field prepend noroundborder">
                      <span class="adjoined noroundborder">$</span>
                      <%= f.number_field :requested_funds, class: [:input, :xwide, :text, :noroundborder], type: :number %>
                    </li>
                  </ul>
                </div>
              </div>

              <h4 class="centalign"><a href="#"  class="toggle" gumby-trigger="#drawerfundswillpayfor">*Use of Funds</a></h4>
              <div class="drawer" id="drawerfundswillpayfor" style="text-align:center;">
                <p>Choose how the funds will be spent.</p>
              </div>
              <div class="field centalign">
                <div class="picker">
                  <%= f.collection_select :funds_will_pay_for, DraftGrant::FUNDS, :to_s, :to_s, prompt: 'Funds will be paying for...' %>
                </div>
              </div>


            </div>
          </div>
          <div class="row centalign">
            <div class="ttip large primary btn" data-tooltip="Save Your Progress">
              <%= f.submit 'Save!' %>
            </div>
          </div>
      </div>
    </div>
  </div>
<!--Finalize-->
  <div class="tab-content">
    <div class="row">
      <div class="twelve columns">
        <br>

          <div class="row">
            <div class="eight columns centered centalign">


              <h4 class="centalign"><a href="#"  class="toggle" gumby-trigger="#drawercomments">Additional Comments</a></h4>
              <div class="drawer" id="drawercomments" style="text-align:center;">
                <p>Please state any additional information that may contribute to your application. (1200 character limit)</p>
              </div>
              <div class="field">
                <%= f.text_area :comments, class: [:textarea, :input], rows: 5 %>
              </div>

              <div class="ttip large primary btn" data-tooltip="Save Your Progress">
                <%= f.submit 'Save!' %>
              </div>

              <%= render 'grant_preview', grant: @draft_grant %>

              <div class="large primary btn">
                <%= f.submit 'Submit!', name: 'save_and_submit' %>
              </div>

            </div>
          </div>
      </div>
    </div>
  </div>

</section>
    <% end %>

    </div>
  </div>
</div>

<script>
$(document).ready(function(){
    var prevtab=getCookie("drafttab");
      if (prevtab!=null && prevtab!="")
      {
      var $tabs = $('#tabs')
      $target = $tabs.find('.tab-nav li#'+prevtab);
      // if target exists trigger the set event
      if($target.length) {
          $tabs.trigger('gumby.set', $target.index());

        }
      }

  });
</script>
