<div class="row">
  <div class="twelve columns">
    <div class="wrapper light">

      <div class="row">
        <h2>Editing General Info</h2>
      </div>

      <!-- This is the form for title, summary, and subject_areas. -->

      <div class="row">
        <div class="twelve columns">
          <%= form_for @draft_grant, url: draft_path, :html => {:multipart => true} do |f| %>
            <%= render 'shared/errors', object: f.object %>

            <div class="field">
              <%= f.label :title, 'Title' %>
              <%= f.text_field :title, class: :input %>
            </div>

            <div class="field">
              <%= f.file_field :image_url %>
            </div>

            <div class="field">
              <%= f.label :summary, 'Summary' %>
              <%= f.text_area :summary, class: [:textarea, :input], rows: 5 %>
            </div>

            <div class="field">
              <%= f.label :video, 'Video link' %>
              <%= f.text_field :video, class: :input, :placeholder => "Video Link" %>
            </div>

            <div class="field">
              <%= f.label :subject_areas, 'Subject Areas' %>
              <%= f.select :subject_areas, DraftGrant::SUBJECTS %>
            </div>

            <div class="medium primary btn pull_right">
              <%= f.submit 'Save!' %>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
