<div class="row">
  <h1>Editing <%= @draft_grant.title %></h1>
</div>

<!-- This is the form for title, summary, and subject_areas. -->

<div class="row">
  <div class="six columns">
    <%= form_for @draft_grant, url: draft_path do |f| %>
      <%= render 'shared/errors', object: f.object %>
      
      <div class="field">
        <%= f.label :title, 'Title' %>
        <%= f.text_field :title, class: [:input] %>
      </div>

      <div class="field">
        <%= f.label :summary, 'Summary' %>
        <%= f.text_area :summary, class: [:textarea, :input], rows: 5 %>
      </div>

      <div class="field">
        <%= f.label :subject_areas, 'Subject Areas' %>
        <%= f.text_area :subject_areas, class: [:textarea, :input], rows: 5 %>
      </div>
    
      <div class="medium default btn">
        <%= f.submit 'Save!' %>
      </div>
    <% end %>
  </div>
</div>