<div class="row">
  <div class="twelve columns">
    <div class="wrapper light">

      <div class="row">
        <div class="twelve columns centered centalign">
          <h2>Creating a Grant</h2>
          <h5>Enter a title to get started!</h5>
          <br>
        </div>
      </div>
      <div class="row centalign">
          <%= form_for @draft_grant, url: drafts_path do |f| %>
            <%= render 'shared/errors', object: f.object %>

            <%= f.hidden_field :school_id %>

            <div class="field append">
              <%= f.text_field :title, class: [:wide, :input], placeholder: :Title %>
              <div class="medium primary btn">
                <%= f.submit 'Go' %>
              </div>
            </div>


          <% end %>
          <br>
      </div>

      <div class="one-click-hidden">
        <div class="row">
          <div class="twelve columns centered centalign">
            <h2>Or...</h2>
            <h5>Select from our one-click grants</h5>
            <br>
          </div>
        </div>
        
        <div class="row">
          <table>
            <thead>
              <th >Name</tr>
            </thead>
            <tbody>
              <%= render partial: 'admin/dashboard/preapproved_grants',
                         collection: @preapproved, as: :preapproved_grant %>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
