<div class="modal" id="crowdfund-form">
  <div class="content">
    <a class="close switch close-crowdfund-modal" gumby-trigger="|#crowdfund-form"><i class="icon-cancel" /></i></a>
    <div class="row">
      <div class="ten columns centered text-center">
        <h3>Create Crowdfund for <%= grant.title %></h3>
        <br>
        <%= form_tag crowdfund_create_path do %>
          <h4 class="inlined">Goal:</h4>
          <div class="field prepend noroundborder inlined">
            <span class="adjoined noroundborder">$</span>
            <%= text_field_tag :goal, nil, class: [:input, :text, :narrow, :noroundborder] %>
          </div><br><br>
          <h4>End Date</h4>
          <ul>
            <li class="field metro">
              <%= select_date Date.today, order: [:year, :month, :day], class: [:picker, :inlined] %>
            </li>
          </ul>
          <%= hidden_field_tag :grant_id, grant.id %>
          <div class="primary medium btn">
            <%= submit_tag "Start Crowdfund!", class: "close-crowdfund-modal" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

