<div class="modal" id="crowdfund-form">
  <div class="content">
    <a class="close switch close-crowdfund-modal" gumby-trigger="|#crowdfund-form"><i class="icon-cancel" /></i></a>
    <div class="row">
      <div class="ten columns centered text-center">
        <p>Create Crowdfund for <%= grant.title %></p>
        <%= form_tag crowdfund_create_path do %>
          <div class="field">
            <%= label_tag :goal, "Goal" %>
            <%= text_field_tag :goal, nil, placeholder: "" %>
          </div>
          <li class="field metro inlined">
            <%= select_date Date.today, order: [:year, :month, :day], class: [:picker, :inlined] %>
          </li>
          </div>
          <%= hidden_field_tag :grant_id, grant.id %>
          <%= submit_tag "Start Crowdfund!", class: "btn primary medium close-crowdfund-modal" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

