<div class="row">
  <div class="twelve columns">
    <div class="wrapper light">
      <div class="row">
        <h2>
          Editing <%= @grant.title %>
        </h2>
      </div>

      <%= render 'shared/errors', object: @grant %>


<!--GENERAL INFO-->
      <div class="row ultitle">
        <h3>
          General Information
          <span class="ttip" data-tooltip="Edit">
            <%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_general_path(@grant) %>
          </span>
        </h3>
      </div>

      <div class="row">
        <div class="eleven columns push_one">

          <div class="row">
            <h4>Title: <%= @grant.title %></h4>
          </div>

          <div class="row">
            <h4>Summary</h4>
            <%= @grant.summary %>
          </div>

          <div class="row">
            <h4>Image</h4>
            <% if !@grant.image_url.blank? %>
              <%= image_tag @grant.image_url :banner %>
            <% end %>
          </div>

          <div class="row">
            <h4>Video</h4>
            <% if !@grant.video.blank? %>
              <iframe width="560" height="315" src= "http://www.youtube.com/embed/<%= parse_embed(@grant) %>"></iframe>
            <% end %>
          </div>

          <div class="row">
            <h4>Subject areas</h4>
            <%= @grant.subject_areas.values.to_a.join(', ') %>
          </div>

        </div>
      </div>

<!--LOGISTICS-->
      <div class="row ultitle">
        <h3>
          Logistics
          <span class="ttip" data-tooltip="Edit">
            <%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_logistics_path(@grant) %>
          </span>
        </h3>
      </div>

      <div class="row">
        <div class="eleven columns push_one">

          <div class="row">
            <h4>Grade level: <%= @grant.grade_level %></h4>
          </div>

          <div class="row">
            <h4>Duration</h4>
            <%= @grant.duration %>
          </div>

          <div class="row">
            <h4>Number of classes: <%= @grant.num_classes %></h4>
          </div>

          <div class="row">
            <h4>Number of students: <%= @grant.num_students %></h4>
          </div>

          <div class="row">
            <h4>Num. collaborators: <%= @grant.n_collaborators %></h4>
          </div>

          <div class="row">
            <h4>Collaborators</h4>
            <%= @grant.collaborators %>
          </div>
        </div>
      </div>

<!--BUDGET-->
      <div class="row ultitle">
        <h3>
          Budget
          <span class="ttip" data-tooltip="Edit">
            <%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_budget_path(@grant) %>
          </span>
        </h3>
      </div>

      <div class="row">
        <div class="eleven columns push_one">
          <div class="row">
            <h4>Funding Goal: <%= @grant.total_budget %></h4>
          </div>

          <div class="row">
            <h4>Requested funds: <%= @grant.requested_funds %></h4>
          </div>

          <div class="row">
            <h4>Funds will pay for:</h4>
            <%= @grant.funds_will_pay_for %>
          </div>

          <div class="row">
            <h4>Budget description</h4>
            <%= @grant.budget_desc %>
          </div>
        </div>
      </div>

<!--METHODS-->

      <div class="row ultitle">
        <h3>
          Methods
          <span class="ttip" data-tooltip="Edit">
            <%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_methods_path(@grant) %>
          </span>
        </h3>
      </div>

      <div class="row">
        <div class="eleven columns push_one">
          <div class="row">
            <h4>Purpose</h4>
            <%= @grant.purpose %>
          </div>

          <div class="row">
            <h4>Methods</h4>
            <%= @grant.methods %>
          </div>

          <div class="row">
            <h4>Teacher background</h4>
            <%= @grant.background %>
          </div>

          <div class="row">
            <h4>Comments</h4>
            <%= @grant.comments %>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
