<div class="row">
  <div class="wrapper light">
    <div class="row centalign">
      <h2 >
        <%= @grant.title %>
        <% if current_user && super_user? %>
          <span class="ttip" data-tooltip="Edit">
            <%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_grant_path %>
          </span>
        <% end %>
      </h2>
      <h5>
        <%= @grant.recipient.first_name + ' ' + @grant.recipient.last_name %> | <%# grant.school (can't do yet) %> Berkeley Elementary School
      </h5>
      <h5>
        <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fparse.com" target="_blank"><i class="icon-facebook"></i></a>    <a expr:href='data:post.canonicalUrl' href="https://twitter.com/share"><i class="icon-twitter"></i></a>    <a href="javascript:emailCurrentPage()"><i class="icon-mail"></i></a>
      </h5>
    </div>

    <div class="row">
      <% if current_user && super_user? %>
        <%= ratings_for @grant, :static %>
        Average: <%= @grant.rating_average %>
      <% elsif current_user && admin_user? %>
        <%= ratings_for @grant, show_user_rating: true %>
      <% end %>
    </div>
    
    <div class="row" id="togglelinks">
      <% if current_user && super_user? %>
        <%= render 'toggle_links', grant: @grant %>
      <% end %>
    </div>

    <div class="row" id="grantstatus">
      <% if current_user && admin_user? %>
        Status: <%= @grant.state.titleize %>
      <% end %>
    </div>

    <div class="row">
      <% if @grant.image_url %>
        <%= image_tag @grant.image_url.to_s %>
      <% else %>
        <div class="imgreplacementlrg"><div class="repson"><%= @grant.title %></div></div>
      <% end %>
    </div>

    <div class="row  centalign">
      <div class="eleven columns centered">
        <p class="largefont"><%= @grant.summary %></p>
      </div>
      <br>
    </div>

    <div class="row">
      <div class="three columns centalign">
        <h5 class="inlined"><strong>Grade level: </strong></h5><span class="largefont"><%= @grant.grade_level %></span>
      </div>
      <div class="three columns centalign">
        <h5 class="inlined"><strong># of classes: </strong></h5><span class="largefont"><%= @grant.num_classes %></span>
      </div>
      <div class="three columns centalign">
        <h5 class="inlined"><strong># of students: </strong></h5><span class="largefont"><%= @grant.num_students %></span>
      </div>
      <div class="three columns centalign">
        <h5 class="inlined"><strong>Total budget: </strong></h5><span class="largefont"><%= @grant.total_budget %></span>
      </div>
    </div>


    <div class="row padada">
      <div class="six columns centalign">
        <h5 class="inlined"><strong>Subject areas: </strong></h5><span class="medfont"><%= @grant.subject_areas.values.to_a.join(', ') %></span>      
      </div>
      <div class="six columns centalign">
        <h5 class="inlined"><strong>Duration: </strong></h5><span class="medfont"><%= @grant.duration %></span>
      </div>
    </div>


    <div class="row grantviewbar">
      <div class="eleven columns centered">
        <div class="progress">
          <!-- Also can't really do - no current payment status for grants -->
          <span style="width: 87%">87%</span>
        </div>
        <div class="gcdiv">
          <span class="gctext"><strong>Goal: </strong></span>
          <span class="goalnum"><%= @grant.requested_funds %></span>
          &emsp;
          <span class="gctext"><strong>Current: </strong></span>
          <!-- This too -->
          <span class="currentnum">TBD</span>
        </div>
      </div>
    </div>

    <div class="row">
      <hr>
      <div class="three columns centered centalign">
        <div class="large primary btn"><a href="#" class="switch" gumby-trigger="#modal1">Donate</a></div>
      </div>
    </div>

    <hr>
    
    <div class="row">
      <div class="ten columns centalign centered">
        <h3>Details</h3>
        <h5><strong>Purpose</strong></h5>
        <%= @grant.purpose %>
        <h5><strong>Methods</strong></h5>
        <%= @grant.methods %>
      </div>
    </div>


    <% if !@grant.video.blank? %>
    <div class="row">
      <div class="ten columns centered">
        <div class="video-container">
          <iframe src= "http://www.youtube.com/embed/<%= parse_embed(@grant) %>"></iframe>
        </div>
      </div>
    </div>
    <% end %>


    <div class="row">
      <div class="ten columns centalign centered">
        <br>
        <h3 class="centalign">Budget</h3>
        <h5 class="inlined"><strong>Total budget: </strong></h5><span class="largefont"><%= @grant.total_budget %></span><br>
        <h5><strong>Description</strong></h5>
        <%= @grant.budget_desc %> 
        <h5><strong>Use of Funds</strong></h5>
        <%= @grant.funds_will_pay_for %>
      </div>
    </div>

    <div class="row">
      <div class="ten columns centalign centered">
        <br>
        <h3>Team</h3>
        <h5 class="inlined"><strong>Director: </strong></h5><%= @grant.recipient.first_name + ' ' + @grant.recipient.last_name %><br>
        <h5><strong>Director background</strong></h5>
        <%= @grant.background %>       
        <h5><strong>Collaborators</strong></h5>
        <%= @grant.collaborators %>
      </div>
    </div>

    <% if !@grant.comments.blank? %>
    <div class="row">
      <div class="ten columns centalign centered">
        <br>
        <h3>Additional Comments</h3>
        <%= @grant.comments %>
      </div>
    </div>
    <% end %>


    <div class="modal" id="modal1">
      <div class="content">
        <a class="close switch" gumby-trigger="|#modal1"><i class="icon-cancel" /></i></a>
        <div class="row">
          <div class="ten columns centered text-center">
            <% if @grant.crowdfunding? %>
              <div class="row">
                <%= form_for @payment do |f| %>
                  <% if @payment.errors.any? %>
                    <div class="error-messages">
                      <h2><%= plurlalize(@payment.errors.count, "error") %> prohibited this donation from being processed:</h2>
                      <ul>
                        <% @payment.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                        <% end %>
                      </ul>
                    </div>
                  <% end %>


                  <%= hidden_field_tag :grant_id, @grant.id %>

                  <%= hidden_field_tag :stripe_token %>

                  <div class="field">
                    <%= label_tag :amount, "Donation Total", class: :largefont %>
                    <%= text_field_tag :amount, nil, class: :input %>
                  </div>

                  <% if current_user && current_user.stripe_token.present? %>
                    Credit card has already been provided.
                  <% else %>
                    <div class="field">
                      <%= label_tag :card_number, "Credit Card Number", class: :largefont  %>
                      <%= text_field_tag :card_number, nil, name: nil, class: :input %>
                    </div>
                    <div class="field">
                      <%= label_tag :card_code, "Card Security Code", class: :largefont  %>
                      <%= text_field_tag :card_code, nil, name: nil, class: :input %>
                    </div>
                    <div class="field">
                      <%= label_tag :card_month, "Card Expiration", class: :largefont  %>
                      <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
                      <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"} %>
                    </div>
                  <% end %>
                  <div id="stripe_error">
                    <noscript>Javscript is required. Please enable it in your browser settings.</noscript>
                  </div>
                  <div class="donate large primary btn">
                    <%= f.submit "Donate!", :id => "new_payment" %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    
  </div>
</div>

