<div class="row">
  <div class="wrapper light">
    <div class="row centalign">
      <h2 >
        <%= @grant.title %>
        <% if current_user && admin_user? %>
          <span class="ttip" data-tooltip="Edit">
            <%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_grant_path %>
          </span>
        <% end %>
      </h2>
      <h5>
        <%= @grant.recipient.first_name + ' ' + @grant.recipient.last_name %> | <%# grant.school (can't do yet) %> Berkeley Elementary School
      </h5>
      <h5>
        <i class="icon-facebook"></i>    <i class="icon-twitter"></i>    <i class="icon-mail"></i>
      </h5>
    </div>

    <div class="row">
      <% if @grant.image_url %>
        <%= image_tag @grant.image_url.to_s %>
      <% else %>
        <div class="imgreplacementlrg"><div class="repson"><%= @grant.title %></div></div>
      <% end %>
    </div>

    <div class="row">
      <p class="largefont centalign"><%= @grant.summary %></p>
      <hr>
    </div>

    <div class="row">
      <div class="three columns centalign">
        <h5 class="inlined"><strong>Grade level: </strong></h5><span class="largefont"><%= @grant.grade_level %></span>
      </div>
      <div class="three columns centalign">
        <h5 class="inlined"><strong># of classes: </strong></h5><span class="largefont"><%= @grant.num_classes %></span>
      </div>
      <div class="three columns centalign">
        <h5 class="inlined"><strong># of students: </strong></h5><span class="largefont"><%= @grant.num_students %></span>
      </div>
      <div class="three columns centalign">
        <h5 class="inlined"><strong>Total budget: </strong></h5><span class="largefont"><%= @grant.total_budget %></span>
      </div>
    </div>


    <div class="row padada">
      <div class="six columns centalign">
        <h5 class="inlined"><strong>Subject areas: </strong></h5>
        <span class="medfont"><%= @grant.subject_areas %></span>      
      </div>
      <div class="six columns centalign">
        <h5 class="inlined"><strong>Duration: </strong></h5><span class="medfont"><%= @grant.duration %></span>
      </div>
    </div>    


    <div class="row grantviewbar">
      <div class="progress">
        <!-- Also can't really do - no current payment status for grants -->
        <span style="width: 87%">87%</span>
      </div>
      <div class="gcdiv">
        <span class="gctext"><strong>Goal: </strong></span>
        <span class="goalnum"><%= @grant.requested_funds %></span>
        &emsp;
        <span class="gctext"><strong>Current: </strong></span>
        <!-- This too -->
        <span class="currentnum">TBD</span>
      </div>
    </div>


    <div class="row centalign">
      <% if !@grant.video.blank? %>
        <br>
        <iframe width="70%" height="300" src= "http://www.youtube.com/embed/<%= parse_embed(@grant) %>"></iframe>
      <% end %>
    </div>

    <div class="row">
      <h3>Funds will pay for:</h3>
      <%= @grant.funds_will_pay_for %>
    </div>

    <div class="row">
      <h3>Budget description</h3>
      <%= @grant.budget_desc %>
    </div>

    <div class="row">
      <h3>Purpose</h3>
      <%= @grant.purpose %>
    </div>

    <div class="row">
      <h3>Methods</h3>
      <%= @grant.methods %>
    </div>

    <div class="row">
      <h3>Teacher background</h3>
      <%= @grant.background %>
    </div>

    <div class="row">
      <h3>Num. collaborators: <%= @grant.n_collaborators %></h3>
    </div>

    <div class="row">
      <h3>Collaborators</h3>
      <%= @grant.collaborators %>
    </div>

    <div class="row">
      <h3>Comments</h3>
      <%= @grant.comments %>
    </div>


    <% if @grant.crowdfunding? %>
      <div class="row">
        <%= form_for @payment do |f| %>
          <% if @payment.errors.any? %>
            <div class="error-messages">
              <h2><%= plurlalize(@payment.errors.count, "error") %> prohibited this donation from being processed:</h2>
              <ul>
                <% @payment.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>


          <%= hidden_field_tag :grant_id, @grant.id %>

          <%= hidden_field_tag :stripe_token %>

          <div class="field">
            <%= label_tag :amount, "Donation Total" %>
            <%= text_field_tag :amount, nil, class: :input %>
          </div>

          <% if current_user && current_user.stripe_token.present? %>
            Credit card has already been provided.
          <% else %>
            <div class="field">
              <%= label_tag :card_number, "Credit Card Number" %>
              <%= text_field_tag :card_number, nil, name: nil, class: :input %>
            </div>
            <div class="field">
              <%= label_tag :card_code, "Card Security Code" %>
              <%= text_field_tag :card_code, nil, name: nil, class: :input %>
            </div>
            <div class="field">
              <%= label_tag :card_month, "Card Expiration" %>
              <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
              <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"} %>
            </div>
          <% end %>
          <div id="stripe_error">
            <noscript>Javscript is required. Please enable it in your browser settings.</noscript>
          </div>
          <div class="donate medium primary btn">
            <%= f.submit "Donate!", :id => "new_payment" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
