<div class="row">
  <div class="wrapper light">
    <div class="row centalign">
      <h2 >
        <%= @grant.title %>
        <% if super_user? %>
          <span class="ttip" data-tooltip="Edit">
            <%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_grant_path %>
          </span>
        <% end %>
      </h2>
      <h5>
        <%= @grant.recipient.name %> | <%= @grant.school_name %>
      </h5>
      <h5>
        <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fparse.com" target="_blank"><i class="icon-facebook"></i></a>    <a expr:href='data:post.canonicalUrl' href="https://twitter.com/share"><i class="icon-twitter"></i></a>    <a href="javascript:emailCurrentPage()"><i class="icon-mail"></i></a>
      </h5>
    </div>

    <!-- Note: These need to be styled! -->

    <div class="row" id="preapprove_link">
      <% if admin_user? && !@grant.preapproved? %>
        <div class="medium primary btn">
          <%= link_to 'Preapprove', preapprove_grant_path(@grant), method: :post %>
        </div>
      <% end %>
    </div>

    <div class="row">
      <% if super_user? %>
        <%= ratings_for @grant, :static %>
        Average: <%= @grant.rating_average %>
      <% elsif admin_user? %>
        <%= ratings_for @grant, show_user_rating: true %>
      <% end %>
    </div>

    <div class="row" id="togglelinks">
      <% if super_user? %>
        <%= render 'toggle_links', grant: @grant %>
      <% end %>
    </div>

    <div class="row" id="grantstatus">
      <% if admin_user? %>
        Status: <%= @grant.state.titleize %>
      <% end %>
    </div>

    <!-- End note -->

    <div class="row">
      <% if @grant.image_url %>
        <%= image_tag @grant.image_url.to_s %>
      <% else %>
        <div class="imgreplacementlrg"><div class="repson"><%= @grant.title %></div></div>
      <% end %>
    </div>

    <div class="row centalign">
      <div class="eleven columns centered">
        <p class="largefont"><%= @grant.summary %></p>
      </div>
      <br>
    </div>

    <div class="row">
      <div class="three columns centalign">
        <h5 class="inlined"><strong>Grade level: </strong></h5><span class="largefont"><%= @grant.grade_level %></span>
      </div>
      <div class="three columns centalign">
        <h5 class="inlined"><strong># of classes: </strong></h5><span class="largefont"><%= @grant.num_classes %></span>
      </div>
      <div class="three columns centalign">
        <h5 class="inlined"><strong># of students: </strong></h5><span class="largefont"><%= @grant.num_students %></span>
      </div>
      <div class="three columns centalign">
        <h5 class="inlined"><strong>Total budget: </strong></h5><span class="largefont"><%= @grant.total_budget %></span>
      </div>
    </div>


    <div class="row padada">
      <div class="six columns centalign">
        <h5 class="inlined"><strong>Subject areas: </strong></h5>
        <span class="medfont"><%= @grant.subject_areas.values.to_a.join(', ') %></span>
      </div>
      <div class="six columns centalign">
        <h5 class="inlined"><strong>Duration: </strong></h5><span class="medfont"><%= @grant.duration %></span>
      </div>
    </div>


    <div class="row grantviewbar">
      <div class="progress">
        <!-- Also can't really do - no current payment status for grants -->
        <span style="width: 50%" class="progressbar" data-goal="<%= @grant.requested_funds %>" data-current="224">87%</span>
      </div>
      <div class="gcdiv">
        <span class="gctext"><strong>Current: </strong></span>
        <!-- This too -->
        <span class="currentnum">$224</span>
        &emsp;
        <span class="gctext"><strong>Goal: </strong></span>
        <span class="goalnum">$<%= @grant.requested_funds %></span>

      </div>
    </div>

    <% if @grant.crowdfunding? %>
      <div class="row">
        <hr>
        <div class="three columns centered centalign">
          <div class="large primary btn"><a href="#" class="switch" gumby-trigger="#modal1">Donate</a></div>
        </div>
      </div>
    <% end %>

    <hr>

    <div class="row">
      <div class="ten columns centalign centered">
        <h3>Details</h3>
        <h5><strong>Purpose</strong></h5>
        <%= @grant.purpose %>
        <h5><strong>Methods</strong></h5>
        <%= @grant.methods %>
      </div>
    </div>


    <% if !@grant.video.blank? %>
    <div class="row">
      <div class="ten columns centered">
        <div class="video-container">
          <iframe src= "http://www.youtube.com/embed/<%= parse_embed(@grant) %>"></iframe>
        </div>
      </div>
    </div>
    <% end %>


    <div class="row">
      <div class="ten columns centalign centered">
        <br>
        <h3 class="centalign">Budget</h3>
        <h5 class="inlined"><strong>Total budget: </strong></h5>
        <span class="largefont"><%= @grant.total_budget %></span><br>
        <h5><strong>Description</strong></h5>
        <%= @grant.budget_desc %>
        <h5><strong>Use of Funds</strong></h5>
        <%= @grant.funds_will_pay_for %>
      </div>
    </div>

    <div class="row">
      <div class="ten columns centalign centered">
        <br>
        <h3>Team</h3>
        <h5 class="inlined"><strong>Director: </strong></h5>
        <%= @grant.recipient.name %><br>
        <h5><strong>Director background</strong></h5>
        <%= @grant.background %>
        <% if @grant.has_collaborators? %>
          <h5><strong>Collaborators</strong></h5>
          <%= @grant.collaborators %>
        <% end %>
      </div>
    </div>

    <% if @grant.has_comments? %>
    <div class="row">
      <div class="ten columns centalign centered">
        <br>
        <h3>Additional Comments</h3>
        <%= @grant.comments %>
      </div>
    </div>
    <% end %>


  <div class="modal" id="modal1">
    <div class="content">
      <a class="close switch" gumby-trigger="|#modal1"><i class="icon-cancel" /></i></a>
      <div class="row">
        <div class="ten columns centered text-center">
          <% if @grant.crowdfunding? %>
            <div class="row">
              <%= render "payment_form", payment: @payment, id: @grant.id %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  </div>
</div>
<div id="crowdfund-modal-view">
  <%= render partial: "crowdfund_modal", locals: { grant: @grant } %>
</div>
