<div class="trunkheader">     <!--  Add "slideRight" class to items that move right when viewing Nav Drawer  -->
  <span>
    <i id="navToggle" class="icon-menu pointer"></i>    <!-- Add "slideRight" class to items that move right when viewing Nav Drawer  -->
    <a href="http://www.berkeleypublicschoolsfund.org" class="deskhome"><img src="/assets/logowtext.png" /></a>
  </span>
  <span>
    <a href="http://www.berkeleypublicschoolsfund.org" class="mobhome poofin"><img src="/assets/logo.png"/></a>
  </span>
  <% if user_signed_in? %>
    <div class="loginmenu pull_right">
      <a href="#" class="toggle" gumby-trigger="#userdropdown" gumby-classname="nodisplay">Hello, <%= current_user.first_name %><i class="icon-down-open-mini"></i></a>
    </div>
  <% else %>
  <div class="loginmenu pull_right">
    <%= link_to "Sign Up", new_user_session_path %>  |  <%= link_to "Sign In", new_user_session_path %>
  </div>
  <% end %>
</div>


<% if user_signed_in? %>
  <div class="userdropdown nodisplay" id="userdropdown">
    <ul>
      <li><%= link_to "Account", user_path(id: current_user.id) %></li>
      <% if admin_user? %>
        <li><%= link_to 'Dashboard'.html_safe, admin_dashboard_path %></li>
      <% elsif recipient? %>
        <li><%= link_to 'Dashboard'.html_safe, recipient_dashboard_path %></li>
      <% else %>
      <% end %>
      <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
    </ul>
  </div>
<% else %>
<% end %>


<div class="trunknav slideLeft">
  <ul>
    <li><%= link_to 'Browse'.html_safe, root_path %></li>
    <li><a href="#">About</a></li>
    <%= render 'layouts/search_form' %>
  </ul>
</div>

