<div class="slideRight trunkheader">     <!--  Add "slideRight" class to items that move right when viewing Nav Drawer  -->
  <span>
    <i id="navToggle" class="icon-menu slideRight pointer"></i>    <!-- Add "slideRight" class to items that move right when viewing Nav Drawer  -->
    <a href="http://www.berkeleypublicschoolsfund.org/">Return to BPSF</a>
  </span>
  <% if user_signed_in? %>
    <div class="loginmenu pull_right">
      Hello, <%= current_user.first_name %><i class="icon-down-open-mini"></i>
      </div>
  <% else %>
  <div class="loginmenu pull_right">
    <%= link_to "Sign Up", new_user_registration_path %>  |  <%= link_to "Sign In", new_user_session_path %>
  <% end %>
</div>

<div class="trunknav slideLeft">
  <ul>
    <li class="homelink"><a href="#">Return to BPSF</a></li>
    <li><%= link_to 'Explore'.html_safe, root_path %></li>
    <li><a href="#">About</a></li>
    <li>
      <% if user_signed_in? %>
        <%= link_to "Apply", new_draft_path %>
      <% else %>
        <%= link_to "Apply", new_user_session_path %>
      <% end %>   
    </li>
    <li class="field"><input class="search input" type="search" placeholder="Search" /></li>
  </ul>
</div>
