<div class="trunkheader">     <!--  Add "slideRight" class to items that move right when viewing Nav Drawer  -->
  <span>
    <a href="http://www.berkeleypublicschoolsfund.org" class="homelogo poofout"><img src="/assets/logohoriz.png" /></a>
    <a href="http://www.berkeleypublicschoolsfund.org" class="homelogo poofin"><img src="/assets/logohoriz.png"/></a>
  </span>

  <div class="trunknav">
    <ul>
      <li class="darken"><%= link_to 'Home'.html_safe, root_path, class: :darken %></li>
      <% if recipient? %>
        <li class="darken"><%= link_to 'Apply For Grant'.html_safe, new_draft_path, class: :darken %></li>
      <% end %>
      <%= render 'layouts/search_form' %>
    </ul>
  </div>

  <% if user_signed_in? %>
    <div class="loginmenu pull_right">
      <a href="#" class="toggle darken" gumby-trigger="#userdropdown" gumby-classname="nodisplay"><span class="poofout">Hello, <%= current_user.first_name %></span><span class="poofin"><i class="icon-user"></i></span><i class="icon-down-open-mini"></i></a>
    </div>
  <% else %>
  <div class="loginmenu pull_right">
    <span class="poofout"><%= link_to "Sign Up", new_user_session_path %>  |</span>  <%= link_to "Sign In", new_user_session_path %>
  </div>
  <% end %>
</div>


<% if user_signed_in? %>
  <div class="userdropdown nodisplay" id="userdropdown">
    <ul>
      <li><%= link_to "Account", user_path(id: current_user.id), class: :darken %></li>
      <% if admin_user? %>
        <li><%= link_to 'Dashboard'.html_safe, admin_dashboard_path, class: :darken %></li>
      <% elsif recipient? %>
        <li><%= link_to 'Dashboard'.html_safe, recipient_dashboard_path, class: :darken %></li>
      <% else %>
      <% end %>
      <li><%= link_to "Sign Out", destroy_user_session_path, class: :darken %></li>
    </ul>
  </div>
<% else %>
<% end %>

