<!DOCTYPE html>
<html>
<head>
  <title>BPSF</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <%= stylesheet_link_tag    "application", :media => "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "https://js.stripe.com/v1/" %>
  <%= ajaxful_rating_style %>
  <%= csrf_meta_tags %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <div class="container">
    <%= render 'layouts/header' %>
    <!-- Render flash -->
    <div class="row">
      &nbsp;
      <% flash.each do |key, value| %>
        <%= content_tag :div, value, class: "#{key} alert" %>
      <% end %>
    </div>

    <%= render 'layouts/helppanel' %>

    <%= yield %>

    <%= render 'layouts/footer' %>
  </div>

</body>
<script language="javascript">
    function emailCurrentPage(){
        window.location.href="mailto:?subject="+document.title+"&body="+escape(window.location.href);
    }
</script>

</html>
