<!DOCTYPE html>
<html>
<head>
  <title>BPSF</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag :modernizr %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <div>
    <%# render 'layouts/flash' %>

    <%= yield %>

    <%= debug(params) if Rails.env.development? %>
  </div>
</body>
</html>
