<!DOCTYPE html>
<html>
<head>
  <title>BPSF</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "https://js.stripe.com/v1/" %>
  <%= javascript_include_tag :modernizr %>
  <%= ajaxful_rating_style %>
  <%= csrf_meta_tags %>
  <%= tag :meta, :name => "stripe-key",
          :content => STRIPE_PUBLIC_KEY %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <div class="container">
        <%= render 'layouts/header' %>
    <div class="content slideRight">
        <!-- Render flash -->
        <div class="row">
          &nbsp;
          <% flash.each do |key, value| %>
            <%= content_tag :div, value, class: "#{key} alert" %>
          <% end %>
        </div>

        <%= yield %>

        <%= render 'layouts/footer' %>

        <div class="row">
          <hr>
          <%= debug(params) if Rails.env.development? %>
        </div>
      </div>
  </div>

</body>
</html>
