<!DOCTYPE html>
<html>
<head>
  <title>BPSF</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "https://js.stripe.com/v1/", "application" %>
  <%= javascript_include_tag :modernizr %>
  <%= csrf_meta_tags %>
  <%= tag :meta, :name => "stripe-key",
          :content => STRIPE_PUBLIC_KEY %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <%= render 'layouts/header' %>

  <!-- Render flash -->
  <div class="row">
    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "#{key} alert" %>
    <% end %>
  </div>

  <%= yield %>

  <%= render 'layouts/footer' %>

  <div class="row">
    <hr>
    <%= debug(params) if Rails.env.development? %>
  </div>

  <script>
  jQuery(function(){
    
    jQuery('#camera_wrap').camera({height:'38%'});

  });
  </script>

</body>
</html>
