<!DOCTYPE html>
<html>
<head>
  <title>BPSF</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag :modernizr %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <div>
    <div class="row">
      <% flash.each do |key, value| %>
        <%= content_tag :div, value, class: "#{key} alert" %>
      <% end %>
    </div>

    <div class="row">
      <% if user_signed_in? %>
        Signed in as <%= current_user.email %>
      <% end %>
    </div>

    <%= yield %>

    <br>

    <div class="row">
      <% if user_signed_in? %>
        <div class="medium danger btn">
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        </div>
      <% else %>
        <div class="medium success btn">
          <%= link_to "Sign In", new_user_session_path %>
        </div>
      <% end %>
    </div>

    <br>
    
    <div class="row">
      <hr>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </div>

    <script>
    jQuery(function(){
      
      jQuery('#camera_wrap').camera({height:'38%'});

    });
  </script>

</body>
</html>
